body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}
form{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
form input,textarea,button{
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}
